<!-- It is the response template for online tutorials -->
{% extends 'messages/botbase.html' %}
{% block content %}
<p >Here are the top online platforms in the world for you.........</p>
<a target="_blank" style="text-decoration:none;color:red;" href="https://www.coursera.org/imperial" rel='noopener noreferrer'>1.Coursera</a>
<br>
<a target="_blank" style="text-decoration:none;color:red;" href="https://online-learning.harvard.edu/" rel='noopener noreferrer'>2.Harvard</a>
<br>
<a target="_blank" style="text-decoration:none;color:red;" href="https://www.udacity.com/" rel='noopener noreferrer'>3.Udacity</a>
<br>
<a target="_blank" style="text-decoration:none;color:red;" href="https://www.udemy.com/" rel='noopener noreferrer'>4.Udemy</a>
<br>
<a target="_blank" style="text-decoration:none;color:red;" href="https://www.edx.org/" rel='noopener noreferrer'>5.Edx</a>
{% endblock %}